<a href="https://colab.research.google.com/github/AnastasiiaKhao/MyCodeDivision/blob/main/Wind_Turbine_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

def get_excel_data():
  url = "https://github.com/AnastasiiaKhao/MyCodeDivision/blob/main/Wind%20Turbine%20SCADA%20Dataset%20ex.xls?raw=true"
  df = pd.read_excel(url,sheet_name="Wind Turbine SCADA Dataset")
  return df

wind_df = get_excel_data()
display(wind_df)

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620

In [3]:
wind_df['Month'] = wind_df['Date/Time'].dt.month_name()
wind_df['Year'] = wind_df['Date/Time'].dt.year
wind_df['Day'] = wind_df['Date/Time'].dt.day
wind_df['Time'] = wind_df['Date/Time'].dt.hour

def find_direction(x):
  if x>350 and x<360:
    return 'N'
  elif x > 0 and x<10:
    return 'N'
  elif x > 10 and x<30:
    return 'N/NE'
  elif x > 30 and x<50:
    return 'NE'
  elif x > 50 and x<70:
    return 'E/ENN'
  elif x > 70 and x<100:
    return 'E'
  elif x > 100 and x<120:
    return 'E/ES'
  elif x > 120 and x<140:
    return 'SE'
  elif x > 140 and x<160:
    return 'S/SE'
  elif x > 160 and x<190:
    return 'S'
  elif x > 190 and x<210:
    return 'S/SW'
  elif x > 210 and x<230:
    return 'SW'
  elif x > 230 and x<250:
    return 'W/SW'
  elif x > 250 and x<280:
    return 'W'  
  elif x > 280 and x<300:
    return 'W/NW'     
  elif x > 300 and x<320:
    return 'NW' 
  elif x > 320 and x<350:
    return 'N/NW'

wind_df['Wind Direction'] = wind_df['Wind Direction (°)'].apply(find_direction)


display(wind_df)

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Month,Year,Day,Time,Wind Direction
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,January,2018,1,0,W
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,January,2018,1,0,W
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,January,2018,1,0,W
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,January,2018,1,0,W
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,January,2018,1,0,W
...,...,...,...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724,December,2018,31,23,E
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599,December,2018,31,23,E
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500,December,2018,31,23,E
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913,December,2018,31,23,E
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620,December,2018,31,23,E

In [4]:
wind_df["Loss_Value(kW)"]=wind_df["Theoretical_Power_Curve (KWh)"]-wind_df["LV ActivePower (kW)"]
wind_df["Loss(%)"]=wind_df["Loss_Value(kW)"]/wind_df["Theoretical_Power_Curve (KWh)"]*100

display(wind_df)

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Month,Year,Day,Time,Wind Direction,Loss_Value(kW),Loss(%)
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,January,2018,1,0,W,36.281117,8.714532
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,January,2018,1,0,W,66.148316,12.722848
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,January,2018,1,0,W,84.523429,21.622774
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,January,2018,1,0,W,96.481664,18.693375
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,January,2018,1,0,W,111.052276,22.585236
...,...,...,...,...,...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724,December,2018,31,23,E,433.209835,12.752002
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599,December,2018,31,23,E,-511.297256,-43.586782
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500,December,2018,31,23,E,-412.822178,-23.084812
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913,December,2018,31,23,E,-97.311588,-4.023829
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620,December,2018,31,23,E,-41.281968,-1.485399

In [5]:
from google.colab import files

def save_to_excel(df, filename):
  df.to_excel('Wind_turbine_Final_data.xlsx')
  files.download('Wind_turbine_Final_data.xlsx')

save_to_excel(wind_df, 'Wind_turbine_Final_data.xlsx')

In [ ]:
#def get_direction():

 # url = "https://github.com/AnastasiiaKhao/MyCodeDivision/blob/main/Wind%20direction.xlsx?raw=true"
 # df = pd.read_excel(url,sheet_name="Sheet1")
 # return df

#wind_dir = get_direction()
#display(wind_dir)

   Common   DegreeFROM  DegreeTO
0        N         350       360
1        N           0        10
2     N/NE          10        30
3       NE          30        50
4     E/EN          50        70
5        E          70       100
6     E/SE         100       120
7       SE         120       140
8     S/SE         140       160
9        S         160       190
10    S/SW         190       210
11      SW         210       230
12    W/SW         230       250
13       W         250       280
14    W/NW         280       300
15      NW         300       320
16    N/NW         320       340